# ===== TELEGRAM API (my.telegram.org) =====
API_ID=
API_HASH=
BOT_TOKEN=

# ===== OWNER =====
ADMIN_ID=8646327120
ADMIN_USERNAME=@owapro

# ===== STORAGE / SERVER =====
DB_FILE=database22.db
PORT=10000